body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color:#fff;
    font-size: 14px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-page-container {
    background: url(./img/hero.png) center top no-repeat, url(./img/bottom-pic.png) center bottom 306px no-repeat;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.attribute {
    font-weight: 700;
    color: black;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body, html {
    height: 100%;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    width: 1140px;
}
   
.header {
    padding-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
    width: 100%;
}

.header__col--align--right {
    justify-content: flex-end;
    width: auto;
    flex-shrink: 0;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 800px;
}

.logo {
    display: block;      
}

.menu {
    margin: auto;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;    
}

.menu__link {
    font-size: 14px;  
    text-decoration: none;  
    transition: .3s; 
}

.menu__link:hover {
    color: #FF3D00;
    transition: .3s; 
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;  
    display: block;  
}

.contacts__dropdown {
    position: relative;  
    display: inline-block;     
}

.contacts__dropdown:hover .contacts__dropdown-menu {    
    left: -65px;   
    opacity: 1;
}

.contacts__dropdown-menu {
    position: absolute;
    background: #d1d1d1;
    border-radius: 5px;
    padding: 15px 17px;
    width: 160px;
    top: 100%;
    margin-top: 10px;
    text-align: left;
    opacity: 0;
    transition: opacity 1s;
    left: 9999px;    
}

.contacts__dropdown-menu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 40px;
    top: -20px;
    margin-top: 0px;      
    border: 10px solid transparent;
    border-bottom-color: #d1d1d1;  
}

.contacts__dropdown-menu:before {
    position: absolute;
    content:"";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -30px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00    
}

.contacts__dropdown-item {
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.hero__content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 230px;      
}

.hero__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.38;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;   
}

.button {
    display: inline-block;
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
    transition: .3s;       
}

.button:hover {
    background: #FF3D00;
    transition: .3s;    
}

.button__contour {
    background: #fff;
    border: 2px solid #FF5500;
    border-radius: 35px;
    padding: 18px 55px;
    color: #FF5500;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; 
    transition: .3s; 
}

.button__contour:hover {
    background: #FF5500;
    border-radius: 35px;
    padding: 18px 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;  
    transition: .3s; 
}

.button__about {
    padding: 18px 40px;
}

.button__gray {
    background: #8E8E8E;    
}

.button__gray:hover {
    background: #2B2B2B;   
}


.offers {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 176px;    
}

.offers__item {
    min-height: 476px;
    background: #fff;
    border-radius: 5px;      
    width: calc(100% / 3 - 17px);
    display: flex;
    flex-direction: column;    
}

.offers__item:hover {
    outline: 5px solid #CCCCCC;
    outline-offset: -5px;    
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__image {
    height: 76px;
    margin-bottom: 30px;
    margin-left: 8px;
}

.offers__content {
    padding: 40px 23px 53px;
    color: #666666;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 21px;
    color: black;
    line-height: 1.1;
}

.offers__text {
    margin-right: 65px;    
    font-size: 16px;
    line-height: 1.3;
    margin-bottom:0px;
}

.offers__text:last-child {
    margin-right: 0;
}

.offers__texts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.offers__desc {
    margin-bottom: 27px;
    line-height: 1.59;
}

.offers__button {
    position: relative;
    top: 20px;
    text-align: left;
}

.offers__button-wrapper {
    display: flex;
    justify-content: left;
    margin-top: auto;
}

.section__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.single-news {
    position: relative;
    overflow: hidden;    
}

.news__container {
    margin-bottom: 145px;
}

.news__item {      
    flex: 1;   
    margin-right: 25px; 
}

.news__item:last-child {
    margin-right: 0;
}

.single-news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 30px;
    min-height: 140px;
}

.single-news__date {
    margin-bottom: 13px;
}

.single-news__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 9px;
    margin-top: 13px;
}

.single-news__text {
    font-size: 16px;
}

.news__content {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.paginator__list {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.paginator__item {
    text-align: center;
}

.paginator--theme--light {
    color: black;      
}

.paginator--theme--light .paginator__item-active .paginator__link {
    color: #fff;      
}

.paginator--theme--light .paginator__link:hover {
    color: #fff;      
}

.paginator__display {
    margin-right: 25px;
}

.paginator__item-active .paginator__link {
    background: #FF5500;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    transition: .3s; 
}

.paginator__link:hover {
    background: #FF5500;
    transition: .3s; 
}

.about__content {
    display: flex;
}

.about__content:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url(./img/cameraman.png) center center / cover no-repeat;
    display: block;
}

.about__desc {
    background: #fff;
    border-radius: 5px;
    padding: 70px 201px 65px 83px;  
    max-width: 786px;
    min-height: 455px;
    margin-left: -137px;
    margin-top: 96px;  
}

.about__title {
    color: black;
    margin-bottom: 35px;   
}

.about__text {
    color: black;
    font-size: 16px;
    margin-bottom: 42px;
    line-height: 1.7;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.about__content {
    margin-bottom: 56px;
}

.footer {
    margin-top: auto;
}

.footer-container__section {
    height: 140px; 
}

.footer-container__content {
    border-top: 1px solid #2e3032;
    }

.footer__content {       
    display: flex; 
    align-items: center;    
    justify-content: space-between; 
}

.footer__col {
    display: flex;
    align-items: center;  
}

.footer__col--align--right {
    align-items: flex-end;
    align-items: center;
}

.logo__footer {
    display: block; 
    margin-right: 130px;   
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    position: relative;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;    
    background: url(./img/icons/css_sprites.png);          
}

.social__link-icon-telegram:after {
    background-position: -122px -66px;    
}

.social__link-icon-telegram:hover:after {
    background-position: -122px -10px;    
}

.social__link-icon-vk:after {
    background-position: -10px -122px;
}

.social__link-icon-vk:hover:after {
    background-position: -66px -122px;
}

.social__link-icon-facebook:after {
    background-position: -10px -10px;
}

.social__link-icon-facebook:hover:after {
    background-position: -66px -10px;
}

.social__link-icon-instagram:after {
    background-position: -10px -66px;
}

.social__link-icon-instagram:hover:after {
    background-position: -66px -66px;
}


.socials {
    margin-right: 70px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}

.socials__item:last-child {
    margin-right: 0;
}

/* services */

.top-line {
    min-height: 423px;
    background: url(./img/services/top-line.jpg) center;
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
}

.top-line__wrapper {
    flex: 1;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-title {
    font-size: 72px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;    
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    margin-right: 5px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
    margin-right: 5px;
}

.breadcrumbs__item:last-child::after {
    display: none;
} 

.page-content {
    background: #FFF;
    color: #303030;
    padding: 100px 0 82px;
}

.services {
    margin-bottom: 65px;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service__image {
    width: 40%;
    margin-right: 5%;    
}
.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;
    color: black;    
}

.service__desc {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 35px;
}

.inner-section {
    background: #fff;
    padding: 88px 0;
}

.inner-section--gray {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    text-transform: none;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 47px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 140px;          
}

.partners__item:nth-child(4n+1) {
    margin-left: 0;    
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 180px;
    height: 120px;
    align-items: center;
    justify-content: center; 
    filter: grayscale(100%);
    transition: .3s;    
}

.partners__link:hover {
    filter: grayscale(0); 
    transition: .3s; 
}

.inner-footer__wrapper {
    padding: 43px 0;
}

.inner-footer {
    margin-top: auto;
}

/* Welcome Page */

.welcome__container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
    background: url(./img/welcome-page/rec.png) center no-repeat, url(./img/welcome-page/bg.jpg) center no-repeat;
    background-size: 60%, auto;
}

.welcome__content { 
    display: flex;
    flex-direction: column;
    align-items: center;      
}

.welcome-page__logo {
    margin-bottom: 40px;  
    width: 50%;     
}

.welcome__content--video {
    opacity: 0;
    animation: rotate-animation .8s;
    animation-fill-mode: forwards;
}

@keyframes rotate-animation {
    from {
        transform: scale(0.1) rotate(30deg);
    }
    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(5deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*Reviews */

.reviews__item {
    margin-bottom: 20px;
}

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 45px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px 30px;
    background: #F4F5F5;   
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__photo {
    margin-right: 20px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 10px;    
}

.review__user:after {
    content: url(./img/reviews/vk-blue.png);
    height: 30px;
    margin-left: 10px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 10px 25px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag-bg-color {
    background: #F2D4C9;
}

.review__title {
    font-size: 30px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 20px;    
}

.review__desc {
    color: #818181;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 1.67;
}

.review__date {
    color: #1A1B1E;
    font-weight: 600;
}

.attribute-color {
    color: #FF5400;
}
 
.separator {
    background: #373737 url(./img/reviews/bg.png) right 40% no-repeat;
    min-height: 360px;
    display: flex;
    align-items: center;
}

.separator__content {
    max-width: 48%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.36;
}

.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;  
    background: #fff;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input::placeholder {
    color: #666;     
}

.form__input--textarea {
    height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 15px;
}

.form__controls-title {
    width: 38%;
    font-size: 18px;
    color: #1A1B1E;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__button {
    padding: 18px 42px;
    margin-right: 13px;
}

.form__button:last-child {
    margin-right: 0px;
}
